.CompanyAddress {
    padding: 20px;
    text-align: left;
    clear: right;

    ul {
        list-style: none;
        padding: 0;
    }

    .Headline {
        color: #b41527;
        text-align: center;
        font-weight: 600;
    }
}