.DataProtection {
  padding: 20px;

  .Headline {
    color: #b41527;
    font-weight: 600;
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }
  .Subheadline {
    font-size: 1.25em;
    color: #000000;
    padding-left: 0;
  }
  h4 {
    margin: 0;
  }

 .ContactDetails{
    list-style: none;
    padding: 0;
  }
  .Bold {
    font-weight: 600;
  }
}