.Staff_Container {
    border: 1px solid gray;
    height: auto;
    box-sizing: border-box;
    box-shadow:  0 2px 3px #AC9980;
    border-radius: 5px;
    margin: 20px;
    position: relative;
    display: flex;

    img {
        height: auto;
        box-shadow: 1px 2px 1px 0px grey;
        width: 150px;
    }
  }

.Staff_Image {
    width: 30%;
    padding: 10px;
}



.Staff_Contact {

}