.Home {
    margin: 20px;
    padding-bottom: 30px;
}

.Button {
    border: 1px solid #521751;
    font: inherit;
    padding: 8px;
    background-color: #521751;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.Button:hover,
.Button:active {
    background-color: #fa923f;
}

.Headline {
    color: #AF2A00;
    text-align: center;
    font-weight: 600;
    color: #AF2A00;
    font-weight: 600;
}

.Headline_Mobile {
    font-size: 1.15rem;
    text-align: initial;
    padding-left: 0;
    color: #AF2A00;
}