.Home {
    margin: 20px;
    padding-bottom: 30px;
    height: 500px;
}

.Button {
    border: 1px solid #521751;
    font: inherit;
    padding: 8px;
    background-color: #521751;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

.Button:hover,
.Button:active {
    background-color: #fa923f;
}
