.Services {

    p {
        display: inline;
    }
    ul {
        list-style: none;
        li {
            padding-bottom: 10px;
        }
    }

}

.Headline {
    padding-left: 20px;
    color: #AF2A00;
    text-transform: uppercase;
}

.Subheadline {
    padding-left: 20px;
    text-transform: none;
}

.Subheadline_Red {
    padding-left: 20px;
    text-transform: none;
    color: #AF2A00;
}


