.NavigationItem {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    position: relative;
}

.NavigationItem  a {
    color: #424949;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #b41527;
}

@media (min-width: 500px) {
    .NavigationItem {
        align-items: center;
        width: auto;
        height: 100%;
        margin: 10px 0;
    }

    .NavigationItem  a {
        text-decoration: none;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: inline-block;

    }

    .NavigationItem a:before {
        color: #b41527;
        transition: all .5s ease;
        position: absolute;
    }

    .NavigationItem a:before {
        bottom: 15px;
        height: 1.5px;
        width: 0%;
        content: ' ';
        background: #b41527;
        border-radius: 2px;
    }

    .NavigationItem a:hover:before {
        opacity: 1;
        width: 80%;
    }

    .NavigationItem a:hover {
        color: #424949;
    }

    .NavigationItem a.active {
        color: #424949;
        &:before {
            opacity: 1;
            width: 80%;
        }
    }
}