.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  display: inline-block;
  margin-bottom: 8px;
}

.InputEl {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.InputEl[type="radio"] {
  width: auto;
  display: inline;
  margin-left: 12px;
  transform: scale(1.5);
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.InputEl:focus {
  border-color: dimgray;
}

.Valid {
  border: 1px solid #07b03c;
}

.Invalid {
  border: 1px solid #e40000;
}

.Error {
  color: #e40000;
  margin: 0;
}

.CustomerSalutation {
  display: inline;
  margin-right: 50px;
  position: relative;
}
