.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  display: block;
  margin-bottom: 8px;
}

.InputEl {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 5px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.InputEl:focus {
  border-color: dimgray;
}

.Invalid {
  border: 1px solid red;
  background: #FDA49A;
}

.Error {
  color: red;
}
