.LegalNotice {
  padding: 20px;

  .Headline {
    color: #b41527;
    font-weight: 600;
    text-align: left;
    padding: 0;
  }
  .Subheadline {
    font-weight: 600;
    margin-bottom: 0;
    padding-left: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  .Bold {
    font-weight: 600;
  }
  .MarginNull {
    margin: 0;
  }
}