@import "../../../hoc/Layout/Variables.scss";

.Dashboard {
  padding: 20px;
}

h3 {
  color: $primaryColor;
}

article > div {
  background: #09d3ac;
  height: 50px;
  width: 50px;
  float: left;
  cursor: pointer;
  margin: 5px;
}

.Images_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;


  .Image_Content {
    border: 1px solid gray;
    padding: 0.5em;
    margin: 0.85em;
    flex-grow: 2;
  }

  .Image {
    width: 80px;
  }

  .Image_Info {
    margin: 3px;
    font-size: 0.85em;
  }
}
