@import "./Variables.scss";
.Content {
    display: grid;
    border: 1px solid grey;
    //background-image: url("https://static.wixstatic.com/media/c879fd_49abba32d27c47428434d368dc5f71a2~mv2_d_3000_1708_s_2.jpg/v1/fill/w_1920,h_1093,al_b,q_85,usm_0.66_1.00_0.01/c879fd_49abba32d27c47428434d368dc5f71a2~mv2_d_3000_1708_s_2.webp");
    background-image: url("https://static.wixstatic.com/media/c879fd_6eab8d37869d4af585f80583f9be181d~mv2_d_3000_1708_s_2.jpg/v1/fill/w_1920,h_1093,al_c,q_85,usm_0.66_1.00_0.01/c879fd_6eab8d37869d4af585f80583f9be181d~mv2_d_3000_1708_s_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.Content_Mobile {
    background: #cce5f8;
}

.Content_Homepage {
    background: #cce5f8;
}

.Header {
    min-height: 120px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 100;
}

.Logo {
    width: 20%;
    float: left;
}

.Main {
    margin: 0  auto 30px  auto;
    width: 60%;
    background: rgba(245, 245 ,255, 0.90);
    border-radius: 2px;
    color: #000;

    .Animated-Text {
        overflow: hidden;
        height:1.1em;
        word-wrap: break-word;
        white-space: nowrap;
        animation: typing 6s steps(100) forwards;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100ch;
        }
    }
}
.Main_Mobile {
    margin: 0  0 0  0;
    background: rgba(245, 245 ,255, 0.90);
    color: #000;
    padding: 10px 0;

    .Headline {
        padding-left: 0;
        text-align: initial;
        margin-top: 0;
        font-size: 1.25em;
    }
}

.Footer {
    background: $secondColor;
    filter: alpha(opacity=60);
}